{{> head }}
{{> navbar }}
<div class="row">
  <div class="col-8">
    <h1>Hello world</h1>
  </div>
  <div class="col-4">
    <img width="100%" class="img-thumbnail" src="assets/img/gorbea.jpg" alt="image" />
  </div>
</div>
{{> footer }}